footer{
    width: 100%;
    height: 30rem;
    background: var(--background-color);
    padding: 4rem 0;
}
footer section{
    width: clamp(300px,100%,1200px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--background-color);
}
footer div{
    width: clamp(100px, 300px, 300px);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
footer h2{
    font-size: 2rem;
    padding: 0.2rem;
    color: var(--text-color);
}
footer p{
    font-size: 1.6rem;
    color: var(--text-color);
} 