/* Introduction Section Css */
.m3-intro{
    background: url("../img/headbackground.png") no-repeat left;
    background-size: cover;
    height: 50vh;
    position: relative;
    z-index: -1;
}
@media(max-width:600px) {
    .m3-intro h2{
        font-size: 10vw;
    }
    .m3-intro p{
        font-size: 15vw;
        position: absolute;
        bottom: -4.5vw;
        left: 25%;
        margin: 0;
        color: var(--section-color);
        filter: brightness(120%);
    } 

}
@media(min-width:601px) {
    .m3-intro h2{
    font-size: 4vw;
    padding: 3vw;
}
   .m3-intro p{
    font-size: 10vw;
    position: absolute;
    bottom: -3vw;
    left: 35%;
    margin: 0;
    color: var(--section-color);
    filter: brightness(140%);
} 
}
